<div class="container mt-3">
  <h2>Index de contenidos </h2>
    <div class="content">
      <% @contents.each do |content| %>
        <h3><%= content.title %></h3>
        <p><%= content.text %></p>
        <p><%= content.theme_type %></p>
        <p><%= content.content_type %></p>
        <p><%= content.doctor.first_name %> <%= content.doctor.last_name %></p>
      <% end %>
    </div>
  <%= link_to "Regresar", dashboard_patient_path, class: "button" %>
</div>
