
<div class="container">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <% if resource.is_a?(Doctor) %>
        <%= f.input :first_name, label:"Nombre", required: true %>
        <%= f.input :last_name, label:"Apellido", required: true %>
        <%= f.input :phone_number, label:"Celular", required: true %>
        <%= f.input :cedula_profesional, required: true %>
        <%= f.input :curp, label:"CURP", required: true %>
        <%= f.input :profession, as: :select, collection: Doctor::PROFESSION, label:"Profesion", required: true %>
        <%= f.input :photo, as: :file %>
        <%= f.country_select :location, priority_countries: ["MX", "US"], label:"Pais", required: true %>
      <% elsif resource.is_a?(Patient) %>
        <%= f.input :first_name, label:"Nombre", required: true %>
        <%= f.input :last_name, label:"Apellido", required: true %>
        <%= f.input :phone_number, label:"Celular", required: true %>
        <%= f.input :goal, label:"Meta", required: true %>
        <%= f.country_select :location, priority_countries: ["MX", "US"], label:"Pais", required: true %>
      <% end %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  label: "Correo",
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  label: "Contraseña",
                  hint: ("#{@minimum_password_length} caracteres mínimo" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  label: "Confirmación de contraseña",
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Registrarse" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
