
<% if current_user.is_a?(Patient) %>
<% #share code report %>
  <div class="card">
    <div class="card-body">
      <h2>Tu codigo</h2>
      <%= @shared_url %>
    </div>
  </div>

<% #recommendations card %>
    <div class="py-5">
      <h2>Recomendaciones: </h2>
      <% @patient.doctors.each do |doctor| %>
        <h5>Doctor: <%= doctor.first_name %></h5> <!-- replace with your doctor's name attribute -->
        <% doctor.recommendations.where(patient: @patient).each do |recommendation| %>
        <ul>
          <li>Titulo: <%= recommendation.title %></li>
          <li>Comentario: <%= recommendation.comments %></li>
          <li>Creado: <%= recommendation.created_at.strftime("%B %d, %Y") %></li>
        </ul>
        <% end %>
        <hr>
      <% end %>
    </div>
  <% end %>

    <% #medicines card information %>
    <div class="card medicine-report mt-2">
      <div class="card-body">
        <h3> Medicinas: </h3>
        <% @patient.medicines.each do |medicine| %>
          <p style="margin-top: 0; margin-bottom: 0;">Nombre: <strong><%= medicine.name %></strong> - Dosis: <strong><%= medicine.dosage %></strong></p>
          <p style="margin-top: 0; margin-bottom: 0;">Frecuencia: <%= medicine.times_a_day %> - Duración: <%= medicine.duration %></p>
          <p style="margin-top: 0; margin-bottom: 0;">Del <%= medicine.start_date %> al <%= medicine.end_date %></p>
          <p style="margin-top: 0; margin-bottom: 0;">Recomendado por: <%= medicine.recommended_by %></p>
          <hr style="margin-top: 5px; margin-bottom: 5px;">
        <% end %>
      </div>
    </div>

<% #filter  %>
  <h3>Filtro</h3>
    <%= form_tag('', method: :get) do %>
    <label for="start_date">Fecha de inicio:</label>
      <%= date_field_tag 'start_date', params[:start_date] %>
    <label for="end_date">Fecha de fin:</label>
      <%= date_field_tag 'end_date', params[:end_date] %>
      <%= submit_tag 'Aplicar', class: 'btn btn-outline-primary' %>
    <% end %>

<% #answers  %>
<div class="container mt-4">
  <div class="card graphs d-flex-wrap" style="max-height: 500px; overflow-y: auto;">
    <div class="card-body p-2">
      <h3>Respuestas</h3>
      <table class="table" style="background-color: #e3f4f6;">
        <thead>
          <tr>
            <th class="small">Report</th>
            <% @questions.each do |question| %>
              <th class="small"><%= question.title %></th>
            <% end %>
          </tr>
        </thead>
        <tbody class="small">
          <% @answers_by_report.each do |report_answers| %>
            <tr>
              <td>Report <%= report_answers[:report].id %> (<%= report_answers[:report].created_at.strftime('%d/%m/%Y') %>)</td>
              <% @questions.each do |question| %>
                <% answer = report_answers[:answers].find { |a| a.question_id == question.id } %>
                <td><%= answer.text if answer %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
