<div>
  <h1>This is the shared view between patient and doctor</h1>
  <h3><%= @patient.first_name %></h3>
    <h3>Answers</h3>
    <ul>
      <% @answers.each do |answer| %>
        <li><%= answer.text %></li>
      <% end %>
    </ul>
    <%= pie_chart({"No" => @no_count, "Sí" => @si_count}) %>
    <%= pie_chart({"Desayuno" => @desayuno_count, "Almuerzo" => @almuerzo_count, "Comida" => @comida_count, "Cena" => @cena_count}) %>
    <%= scatter_chart @answers_8.zip(@answers_9), xtitle: "Hambre", ytitle: "Saciedad" %>

</div>
