<%= render "shared/navbar_patient" %>

<div class="container p-2">
  <div class="profile">
    <h2>Bienvenido al dashboard de pacientes</h2>
      <p>Nombre: <%= @patient.first_name %></p>
      <p>Apellido: <%= @patient.last_name %></p>
      <p>Meta: <%= @patient.goal %></p>
      <%= link_to "Cambiar información", edit_patient_registration_path, class: "button" %>
  </div>

  <div class="p-3 border w-25">
    <h3>My doctors: </h3>
    <% if @patient.doctors.any? %>
      <% @patient.doctors.each do |doctor| %>
        <p><%= doctor.first_name %> <%= doctor.last_name %></p>
        <% relation = @patient.relations.find_by(doctor: doctor) %>
        <p>Status: <%= relation.status.capitalize %></p>
        <% if relation.status == 'pending' %>
          <%= link_to "Confirm", update_status_relation_path(relation, status: 'confirmed'), data: { turbo_method: :patch } %>
          <%= link_to "Deny", update_status_relation_path(relation, status: 'denied'), data: { turbo_method: :patch } %>
        <% end %>
        <%= link_to "Delete this doctor", relation_path(relation), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      <% end %>
    <% end %>
  </div>

  <div class="all-content">
    <%= link_to "Ver recursos", contents_path, class: "button" %>
  </div>
</div>
<%= link_to "Report", new_patient_report_path(@patient) %>

<% if @answers %>
  <% @answers.each do |answer| %>
    <p><%= answer.text %></p>
  <% end %>
<% else %>
  <p>No answers yet.</p>
<% end %>

<h3>Your QR Code</h3>
<%= link_to "Go to shared page (temporary button)", shared_path(id: @patient.id, token: @patient.token) %>
<div>
  <%= raw @svg %>
</div>

<div class="row">
  <div class="mt-3 w-50 p-3 border col-6">
  <h3>Agregar una medicina:</h3>
    <%= simple_form_for @medicine do |f| %>
      <%= f.input :name, label: "Nombre" %>
      <%= f.input :dosage, label: "Dosis" %>
      <%= f.input :times_a_day, label: "Frecuencia" %>
      <%= f.input :duration, label: "Por cuanto tiempo" %>
      <%= f.input :start_date, label: "Fecha de inicio" %>
      <%= f.input :end_date, label: "Fecha de conclusión" %>
      <%= f.input :recommended_by, label: "Doctor que recomendó (NA si no aplica)" %>
      <%= f.input :patient_id, as: :hidden, input_html: { value: @patient.id } %>
      <%= f.button :submit %>
    <% end %>
  </div>
  <div class="mt-3 w-50 p-3 border col-6">
    <h3>Medicinas:</h3>
    <% if @patient.medicines.any? %>
      <% @patient.medicines.each do |medicine| %>
        <p>Nombre: <%= medicine.name %></p>
        <p>Dosis: <%= medicine.dosage %></p>
        <p>Veces al dia: <%= medicine.times_a_day %></p>
        <p>Durante <%= medicine.duration %> dias</p>
        <p>Comenzando el: <%= medicine.start_date %></p>
        <p>Concluyendo el: <%= medicine.end_date %></p>
        <p>Recomendado por: <%= medicine.recommended_by %></p>
        <%= link_to "Delete this medicine", medicine_path(medicine), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      <% end %>
    <% end %>
  </div>
</div>
